<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Practical Color Theory for People Who Code</title>

    <link href="stylesheets/all.css" rel="stylesheet" />
    <script src="javascripts/all.js"></script>
  </head>
  
<header>
	<div class="container">
		<h1>Practical Color Theory for People Who Code</h1>
		</div>
		<h3>Natalya Shelburne
		<br>
		<a href="https://twitter.com/natalyathree">@natalyathree</a></h3>
</header>
<div class="hero">
	<div class="container">
	<div class="half">
		<h1>Prerequisites</h1>
		<p>Sass color functions give you the same creative power as owning a set of paints, brushes, and canvas. My goal is to demystify design decisions and reveal them to be logical, predictable, and driven by principles that anyone interested can learn.</p>
		<h4>New to this? Check out these resources first</h4>
		<ul class="text-list-item-box">
			<li><a href="http://www.w3.org/TR/css3-color/#hsl-color">CSS Color Module Level 3: HSL</a></li>
			<li><a href="http://hslpicker.com/">Most Excellent HSL color picker</a></li>
			<li><a href="http://jackiebalzer.com/color">Interactive Sass Color Functions</a></li>
			<li><a href="http://sass-lang.com/documentation/Sass/Script/Functions.html#hsla-instance_method">Read the Sass-lang Docs</a></li>
		</ul>
	</div>
	<div class="half">
			<h1>Design Decisions and Patterns</h1>
			<p> "The advantage of HSL over RGB is that it is far more intuitive: you can guess at the colors you want, and then tweak. It is also easier to create sets of matching colors (by keeping the hue the same and varying the lightness/darkness, and saturation). Plus, it is trivial to convert HSL to RGB." -http://www.w3.org/TR/css3-color/#hsl-color</p>
		<a href="#start" class="cta-button">Let's get started!</a>

	</div>
	</div>
</div>

  <body class="index">
    <a href="#" name="start"></a>
	<section>
		<h2>Let's build a simple Complementary Color Scheme!</h2>
		<img src="images/color-circle.png" alt="color-wheel">
		<p>We know this works because of science (wavelengths!)</p>
	</section>

	<section class="first-only">
		<h2>Pick a color <span> hsl($hue, $saturation, $lightness)</span></h2>
		<div class="explanation">
			<div class="test first"></div>
			<p><code>$first-color: hsl($hue, 100%, 50%);</code></p>
			<p>Pick any color by selecting its hue (0-360) on the color wheel at full saturation (100%) and at half lightness (50%) - this way you start with the 'most colorful color' you can get.</p>
		</div>
		<div class="example">

	<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>


		</div>
		<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
	        <p>Why pick a fully saturated color, but only half lightness?</p>
	        <p>When you mix colors, the saturation only goes down, so you want to start with the most saturated colors so you can still have a full range of mixing opportunities. You use 50% lightness because you want the color, not the tint(high lightness) or the shade(low lightness).</p>
			</div>
		</div>
	</section>


	<section class="second-added">
		<h2>Complementary Color<span>complement( );</h2>
		<div class="explanation">
			<div class="test second"></div>
			<p><code>$second-color: complement($first-color);</code></p>
		</div>
		<div class="example">
		<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>

		</div>
		<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
	        <p>Generate your second color without having to guess what will work.</p>
	        <p></p>
			</div>
		</div>
	</section>

	<section class="primary-complementary">
	<h2>Color Relationship Established by Mixing<span>mix( );</h2>
		<div class="explanation">
			<div class="test primary"></div>
			<div class="test complement"></div>
			<p>Establish a color relationship by mixing them together. As an added bonus, mixing colors desaturates them, further making them look more like something you'd find in nature.</p>
			<pre><code>
$complementary-color: harmonious-mix($first-color, $second-color);<br>
$primary-color: harmonious-mix($second-color, $first-color);</code></pre>
		</div>
		<div class="example">
			<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>

		</div>
		<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
	        <p>Sure, there's a relationship already because these colors are complementary to each other...</p>
					<p>But, this is another way we get closer to nature. It's a bit more complicated than this, but this is my favorite way of explaining it - everything outside has some "yellow" mixed in from the sunshine during the day, and it looks warm and inviting. Same thing happens when everyone and everything looks bad in photos taken under the glow of green flourescent lights - there is green added to all of the colors you're looking at, including adding a green glow to your skin if you're standing under the flourescent light yourself. Whether it looks good or bad, this color (light) mixing creates a visual harmony. We don't really notice it when it's there, but we really notice its absence.</p>
	        <p>When you're painting, you want to simulate similar lighting conditions for a scene, and that means mixing a bit of one color into the other. Mixing different ratios of the same colors will usually generate a matching color palette.</p>
					<p>How do I decide what to do? Thanks to art school and science, I know that cool colors are "darker" than warm colors, and will dominate in mixes. For example, a touch of blue will really affect yellow, whereas you can add a lot of yellow to blue before it is very affected. So, here is this thinking in function form. Check if it's a cool color (and will dominate the mix) and then mix the appropriate amount of one color into the other using the handy mix function Sass provides.</p>
					<pre><code>
@function is-cool-color($color) {
	@return hue($color) < 300 and hue($color) > 120;
}</code></pre>

							<pre><code>@function harmonious-mix($mix, $base) {
	@if (is-cool-color($mix)){
		@return mix($mix, $base, 9%);
	}
	@else {
		@return mix($mix, $base, 35%);
	}
}</code></pre>
			</div>
		</div>
	</section>

	<section class="complementary-neutrals-added">
		<h2>Complementary Neutrals<span>desaturate( ); lighten( ); darken( );</span></h2>
		<div class="explanation">
			<div class="test complementary-neutral-1"></div>
			<div class="test complementary-neutral-2"></div>
			<div class="test complementary-neutral-3"></div>
			<p>Let your chosen color pop by surrounding it with neturals. Desaturate the complementary color to get a neutral. Then, give that neutral some lightness to create a light neutral, and do the same with darkness for a dark neutral.</p>
			<pre><code>
$complementary-neutral: create-neutral($complementary-color);

$complementary-neutral-light: lighten($complementary-neutral, 33);

$complementary-neutral-dark: darken($complementary-neutral, 33);</code></pre>
		</div>
		<div class="example">
			<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>

		</div>
		<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
	        <p>The colors are way too intense at their full saturation for our eyes to handle. If all the colors are bright, none of the colors are bright.</p>
	        <p>I picked my starting color for a reason -  I want that to be the heart of my design! That means the complementary color should support the chosen color. This means mixing neutrals. Our eyes don't really handle saturated colors very well next to other saturated colors. We have eye cells and they get confused. This is how we get optical illusions. Just give your eyes a break between super strong saturated colors with neutrals so they don't stress out about that much visual information. At the very minimum your viewport should have 30% neutral space (white, desaturated, or black colors) so your poor eyes can have a break and process the information right. Otherwise you get eye strain!</p>
	        <p>Here, I decide how much to desaturate - if the color we mixed is already a little more on the 'neutral' side, I don't want it to turn completely grayscale and so I don't desaturate it as much.</p>
	        <pre><code>
@function create-neutral($color) {
	@if (saturation($color) < 50){
		@return desaturate($color, 15);

	}
	@else {
		@return desaturate($color, 33%);
	}
}</code>
			</div>
		</div>
		</section>

	<section class="primary-neutrals-added">
<h2>Primary Neutrals<span>desaturate( ); lighten( ); darken( );</span></h2>
		<div class="explanation">
			<div class="test primary-neutral-1"></div>
			<div class="test primary-neutral-2"></div>
			<div class="test primary-neutral-3"></div>
			<p>This seems logical, we can do the same for our primary color too. More to work with. Sadly, doesn't seem to make our layout much better. But, at least now we can see what should be done next.</p>
			<pre><code>
$primary-neutral: create-neutral($primary-color);

$primary-neutral-light: lighten($primary-neutral, 33);

$primary-neutral-dark: darken($primary-neutral, 33);</code></pre>
	</div>
	<div class="example">
		<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>

	</div>
	<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
	        <p>Even though these may look "ugly", neutral colors are the heart of any painting, and that is the case on the web, too. </p>
			</div>
		</div>
	</section>

	<section class="black-and-white-added">
	<h2>Mix a "White" and "Black"<span>grayscale( ); lighten( ); darken( );</h2>
	<div class="explanation">
		<div class="test white"></div>
		<div class="test black"></div>
		<p>Finally, some contrast! Make sure you don't use pure black or white - this is just like mixing neutrals, just mix them really bright and really dark.</p>
		<pre><code>$white: lighten($primary-neutral-light, 15);</code></pre>
		<pre><code>$black: grayscale($complementary-neutral-dark);</code></pre>
	</div>
	<div class="example">
		<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>

	</div>
	<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
				  <p>Not everyone sees color the same. Accessibility is important, and it's good for everyone. Increasing contrast is one of the ways you can immediately improve your design on all levels. Your layout should work when you take out ALL of the color information (desaturate it all, take out all of the hue information, and leave only lightness and darkness to differentiate between areas). Just about every famous master painting still looks amazing if you desaturate the whole thing. </p>
	        <p>Yes, people will notice. #000000 and #ffffff will irritate your eyes. Mix up a matching white and a matching gray from your ever expanding palette and you will ensure that it will always match the rest of your design.</p>
			</div>
		</div>
	</section>


<section class="final-colors">
		<h2>Make it pop! Primary Light, primary, and Dark<span>mix( ); lighten( ); darken( );</h2>
		<div class="explanation">
			<div class="test primary-light"></div>
			<div class="test primary"></div>
			<div class="test primary-dark"></div>
			<p>This is the color you wanted in the first place, make sure you're using it. But, remember that it's about context - make sure you're using the right amount of contrast! The header on our little layout has a lighter version of our primary color.</p>
			<pre><code>
$primary-light: mix($primary-neutral-light, $primary-color, 45%); <br>
$primary-dark: mix($primary-neutral-dark, $primary-color, 45%);
</code></pre>
	        <p>Overall, this is a pretty simple setup - but it's an example of what you can do with just one color, some design knowhow, and some Sass functions.</p>
		</div>
		<div class="example">
			<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@natalyathree</p>
	</div>
</div>

		</div>

<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
				<p>That's right, the pattern you may be noticing is that you can use what you've already got to mix up more colors and keep building those color relationships. These colors can be achieved just by adjusting lightness and darkness. Up to you!</p>
	     	<p>A lighter and darker version of your primary color is useful for things like hover states. </p>
			</div>
		</div>
</section>


<section>
	<h2>More mixes that mach<span>Mix and match functions</span></h2>
		<div class="test mix-1"></div>
		<div class="test mix-2"></div>
		<div class="test mix-3"></div>
		<div class="test mix-4"></div>
		<div class="test mix-5"></div>
		<div class="test mix-6"></div>
		<div class="test mix-7"></div>
		<div class="test complementary-analogous-mix-1"></div>
		<div class="test complementary-analogous-mix-2"></div>
		<div class="test mix-8"></div>
		<div class="test primary-grayscale-1"></div>
		<div class="test complementary-grayscale-1"></div>
		<div class="test contrast-mix-1"></div>
		<div class="test contrast-mix-2"></div>
		<div class="test contrast-mix-3"></div>
		<div class="test contrast-mix-4"></div>
		<div class="test contrast-mix-5"></div>
		<div class="test contrast-mix-6"></div>
		<div class="test contrast-mix-7"></div>
		<div class="test contrast-mix-8"></div>
		<div class="test analogous"></div>
		<div class="test complementary-analogous"></div>
		<div class="test primary-gray"></div>
		<div class="test complimentary-gray"></div>
		<div class="test white"></div>
		<div class="test neutral-gray"></div>
		<div class="test black"></div>
		<p>Don't pick colors at random. Mix them. For example:</p>
		<pre><code>
$mix-1: mix($primary-color, $complementary-color, 13%);
$mix-2: mix($complementary-color, $primary-color, 13%);
$mix-3: mix($primary-neutral-light, $primary-color, 45%);
$mix-4: mix($primary-neutral-light, $complementary-color, 35%);
$mix-5: mix($primary-neutral-dark, $complementary-color, 35%);
$mix-6: mix($primary-neutral-dark, $primary-color, 35%);
$mix-7: mix($complementary-neutral-dark, $complementary-color, 35%);
$mix-8: mix($complementary-neutral-dark, $primary-color, 35%);

$contrast-to-mix-1: increase-contrast($mix-1, 20);
$contrast-to-mix-2: increase-contrast($mix-2, 20);
$contrast-to-mix-3: increase-contrast($mix-3, 20);
$contrast-to-mix-4: increase-contrast($mix-4, 20);
$contrast-to-mix-5: increase-contrast($mix-5, 20);
$contrast-to-mix-6: increase-contrast($mix-6, 20);
$contrast-to-mix-7: increase-contrast($mix-7, 20);
$contrast-to-mix-8: increase-contrast($mix-8, 20);

$analogous-color: adjust-hue($complementary-color, -40);
$complementary-analogous: mix($analogous-color, $complementary-color, 66);

$complementary-analogous-mix-1: mix($complementary-analogous, $complementary-color, 10%);
$complementary-analogous-mix-2: mix($complementary-analogous, $primary-color, 10%);</code></pre>
	<div class="kitty-switch">
	    <input type="checkbox" id="toggle">
	    <div class="kitty"></div>
	    <label for="toggle" class="well"></label>
			<div class="visible">
	        <p>When you mix colors, you should create relationships. Remember, color theory is a design pattern - logical and predictable! Learn the patterns, and play with Sass functions - they're a great tool!!</p>
			</div>
		</div>
	</section>
</div>

  </body>
</html>
