$background: #efefef;

* {
	box-model: border-box;
}

body {
  background-color: $white;
  text-align: center;
  font-family: sans-serif;
  @include texture(180deg, $white, $white, 38, 0)
	}

h1 {
  color: $complementary-neutral-dark;
  font-size: 2em;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 $complementary-neutral-light;
  margin: 0;
}

header {
	background: $complementary-neutral-light;
	height: 13em;
	border-top: 40px solid $complementary-neutral-dark;

	h1 {
		color: $complementary-neutral-dark;
		padding: 1em 2em;
		position: relative;

		@media screen and (min-width: 960px) {
			font-size: 3.5em;
			padding: .3em 2.5em;
		}

		&:after {
			content: '';
			line-height: 1.5;
			font-size: 25px;
			color: $white;
			text-shadow: none;
			background: $primary-light;
			box-shadow: 0px 1px 1px 1px $primary-dark;
			height: 30px;
			width: 30px;
			position: absolute;
			top: -35px;
			right: 10px;
			border-radius: 100%;
		}
	}
}

section {
	@extend .box-container;
	margin-bottom:45px;
	display: block;
	@include span-columns(12);
	@media screen and (min-width: 780px) {
		@include span-columns(8);
		@include shift(2);
		@include pad(2);
	}

	.example {
		padding: 30px;
		@media screen and (min-width: 780px) {
			@include span-columns(6 of 12);
		}
	}

		.explanation {
			padding: 30px;
		@media screen and (min-width: 780px) {
			@include span-columns(6 of 12);
		}
	}
}

.test {
	height: 100px;
	width: 100px;
	border-radius: 7% 2%;
	display: inline-block;
}

.container {
	@include outer-container;
}

.half {
	padding: 30px;
	@media screen and (min-width: 780px) {
		@include span-columns(6 of 12);
	}
}