// mixing colors

.first {
	background: $first-color;
}

.second {
	background: $second-color;
}

// main complementary palette

.primary{
	background: $primary-color;
}

.complementary {
	background: $complementary-color;
}

// Complementary - neutrals

.complementary-neutral-light {
	background: $complementary-neutral-light;
}

.complementary-neutral {
	background: $complementary-neutral;
}

.complementary-neutral-dark {
	background: $complementary-neutral-dark;
}

// 

// Primary - neutrals

.primary-neutral-light {
	background: $primary-neutral-light;
}

.primary-neutral {
	background: $primary-neutral;
}

.primary-neutral-dark {
	background: $primary-neutral-dark;
}

// Primary Tint and Shade

.primary-light {
	background: $primary-light;
}

.primary-dark {
	background: $primary-dark;
}

// Analogous colors

.complementary-analogous {
	background: $complementary-analogous;
}

.analogous {
	background: $analogous-color;
}

// Grayscale - true neutrals

.primary-gray {
	background: $primary-gray;
}

.complementary-gray {
	background: $complementary-gray;
}

.neutral-gray {
	background: $neutral-gray;
}

.white {
	background: $white;
	border: 1px solid $neutral-gray;
}

.black {
	background: $black;
}


@function desaturate-neutral($color) {
	@if (is-highest-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return desaturate($color, 19%);
		}
		@else {
			@return desaturate($color, 13%);
		}
	}
	@else if (is-high-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return desaturate($color, 31%);
		}
		@else {
			@return desaturate($color, 23%);
		}
	}
	@else {
		@if is-highest-key-value(complement($color)) {
			@return desaturate($color, 31%);
		}
		@if is-high-key-value(complement($color)) {
			@return desaturate($color, 26%);
		}
		@else {
			@return desaturate($color, 23%);
		}
	}
}

// desaturated color neutrals

.desaturated-primary-neutral {
	background: desaturate-neutral($primary-color);
}


.desaturated-complementary-neutral {
	background: desaturate-neutral($complementary-color);
}