.first {
	background: $first-color;
}

.first-adjusted {
	background: $first-adjusted;
}

.second {
	background: $second-color;
}

.second-adjusted {
	background: $second-adjusted;
}

.primary{
	background: $primary-color;
}

.complement {
	background: $complementary-color;
}

//establish neutrals


.complementary-neutral-1 {
	background: $complementary-neutral-light;
}

.complementary-neutral-2 {
	background: $complementary-neutral;
}

.complementary-neutral-3 {
	background: $complementary-neutral-dark;
}

// 

// Primary - neutrals

.primary-neutral-1 {
	background: $primary-neutral-light;
}

.primary-neutral-2 {
	background: $primary-neutral;
}

.primary-neutral-3 {
	background: $primary-neutral-dark;
}

// Primary light and dark

.primary-light {
	background: $primary-light;
}
.primary-dark {
	background: $primary-dark;
}

// other color variations

.mix-1 {
	background: mix($primary-color, $complementary-color, 13%);
}
.mix-2 {
	background: mix($complementary-color, $primary-color, 13%);
}

//add another color to the mix!

.primary-light {
	background: mix($primary-neutral-light, $primary-color, 45%);
}

.mix-4 {
	background: mix($primary-neutral-light, $complementary-color, 35%);
}
.mix-5 {
	background: mix($primary-neutral-dark, $complementary-color, 35%);
}
.mix-6 {
	background: mix($primary-neutral-dark, $primary-color, 35%);
}

.mix-7 {
	background: mix($complementary-neutral-dark, $complementary-color, 35%);
}
.mix-8 {
	background: mix($complementary-neutral-dark, $primary-color, 35%);
}


//yellow mix {

.contrast-mix-1 {
	background: increase-contrast(mix($primary-color, $complementary-color, 13%), 20);
}
.contrast-mix-2 {
	background: increase-contrast(mix($complementary-color, $primary-color, 13%), 20);
}

//add another color to the mix!

.contrast-mix-3 {
	background: increase-contrast(mix($primary-neutral-light, $primary-color, 45%), 20);
}

.contrast-mix-4 {
	background: increase-contrast(mix($primary-neutral-light, $complementary-color, 35%), 20);
}
.contrast-mix-5 {
	background: increase-contrast(mix($primary-neutral-dark, $complementary-color, 35%), 20);
}
.contrast-mix-6 {
	background: increase-contrast(mix($primary-neutral-dark, $primary-color, 35%), 20);
}

.contrast-mix-7 {
	background: increase-contrast(mix($complementary-neutral-dark, $complementary-color, 35%), 20);
}
.contrast-mix-8 {
	background: increase-contrast(mix($complementary-neutral-dark, $primary-color, 35%), 20);
}



.complementary-analogous {
	background: $complementary-analogous;
}

.analogous {
	background: $analogous-color;
}

.complementary-analogous-mix-1 {
	background: mix($complementary-analogous, $complementary-color, 10%);
}
.complementary-analogous-mix-2 {
	background: mix($complementary-analogous, $primary-color, 10%);
}


// Grayscale-neutrals

.primary-gray {
	background: $primary-gray;
}

.complimentary-gray {
	background: $complimentary-gray;
}

.neutral-gray {
	background: $neutral-gray;
}

.white {
	background: $white;
	border: 1px solid $neutral-gray;
}

.black {
	background: $black;
}

.primary-grayscale-1 {
	background: grayscale($primary-color);
}

.complementary-grayscale-1 {
	background: darken(grayscale($complementary-color), 11);
}


