.first {
	background: $first-color;
}

.first-adjusted {
	background: $first-adjusted;
}

.second {
	background: $second-color;
}

.second-adjusted {
	background: $second-adjusted;
}

.primary{
	background: $primary-color;
}

.complement {
	background: $complementary-color;
}

//establish neutrals


.complementary-neutral-1 {
	background: $complementary-neutral-light;
}

.complementary-neutral-2 {
	background: $complementary-neutral;
}

.complementary-neutral-3 {
	background: $complementary-neutral-dark;
}

// 

// Primary - neutrals

.primary-neutral-1 {
	background: $primary-neutral-light;
}

.primary-neutral-2 {
	background: $primary-neutral;
}

.primary-neutral-3 {
	background: $primary-neutral-dark;
}

// Primary light and dark

.primary-light {
	background: $primary-light;
}

.primary-dark {
	background: $primary-dark;
}

// other color variations

.mix-1 {
	background: $mix-1;
}

.mix-2 {
	background: $mix-2;
}

.mix-3{
	background: $mix-3;
}

.mix-4 {
	background: $mix-4;
}

.mix-5 {
	background: $mix-5;
}

.mix-6 {
	background: $mix-6;
}

.mix-7 {
	background: $mix-7;
}

.mix-8 {
	background: $mix-8;
}


//yellow mix {

.contrast-mix-1 {
	background: $contrast-to-mix-1;
}
.contrast-mix-2 {
	background: $contrast-to-mix-2;
}

//add another color to the mix!

.contrast-mix-3 {
	background: $contrast-to-mix-3;
}

.contrast-mix-4 {
	background: $contrast-to-mix-4;
}

.contrast-mix-5 {
	background: $contrast-to-mix-5;
}

.contrast-mix-6 {
	background: $contrast-to-mix-6;
}

.contrast-mix-7 {
	background: $contrast-to-mix-7;
}

.contrast-mix-8 {
	background: $contrast-to-mix-8;
}



.complementary-analogous {
	background: $complementary-analogous;
}

.analogous {
	background: $analogous-color;
}

.complementary-analogous-mix-1 {
	background: $complementary-analogous-mix-1;
}

.complementary-analogous-mix-2 {
	background: $complementary-analogous-mix-2;
}


// Grayscale-neutrals

.primary-gray {
	background: $primary-gray;
}

.complimentary-gray {
	background: $complimentary-gray;
}

.neutral-gray {
	background: $neutral-gray;
}

.white {
	background: $white;
	border: 1px solid $neutral-gray;
}

.black {
	background: $black;
}

.primary-grayscale-1 {
	background: grayscale($primary-color);
}

.complementary-grayscale-1 {
	background: darken(grayscale($complementary-color), 11);
}
