$muted: lighten($neutral-gray, 33%);
$background: lighten(#fde088, 2%);
$shadow: darken($background, 11%);

.muted {
    color: $muted;

    a {
        color: darken(mistyrose, 10%);
        text-decoration:none;
    }
}

.visible {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    padding: 20px;
}

.kitty-switch {
    width: auto;
    display: block;
    position: relative;
    margin: 30px 0px 20px 0px;
    @include span-columns(12);

    .prompt {
        display: inline-block;
        margin-top: 10px;
    }

    .well {
        background: $white;
        height: 20px;
        width: 50px;
        position: absolute;
        right: 65px;
        top: 7px;
        border-radius: 10px;
        box-shadow: inset 0 2px 1px rgba(0,0,0,.2);
        border: 1px solid $complementary-neutral-light;
        cursor: pointer;
    }

    #toggle {
        opacity: 0;
        border: none;
        border-radius: 0;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        height: 29px;
        width: 140px;
        background: transparent;
        position: absolute;
        right: 0px;
        top: 3px;
        cursor: pointer;
        z-index: 100;
        color: tranparent;

        &:after {
            content: '';
            background-color: transparent;
            height: 40px;
            width: 80px;
            position: absolute;
            left: 30px;
            top: -5px;
        }

        ~div.kitty:before {
            content: "\01F3A8";
            position: absolute;
            right: 93px;
            top: -6px;
            font-size: 33px;
            z-index: 1;
            color: $complementary-neutral-dark;

            -moz-transition: all 0.35s ease-out;
            -webkit-transition: all 0.35s ease-out;
            -o-transition: all 0.35s ease-out;
            transition: all 0.35s ease-out;
        }

        &:checked {
            right: 0px;

            &:after {
                left: -80px;
            }

            ~div.kitty:before {
                content: '\01F63A';
                top: -6px;
                right: 55px;
            }

            ~div.visible {
                opacity: 1;
                max-height: 900px;
                overflow: visible;
            }
        }

        ~label {
            &:before {
                content: "ok";
                position: absolute;
                color: $complementary-color;
                left: -50px;
                top: 0px;
                font-size: 16px;
            }

            &:after {
                content: "why?";
                position: absolute;
                color: $muted;
                left: 65px;
                top: 0px;
                font-size: 16px;
            }
        }

        &:checked~label {
            &:before {
                color: $muted;
            }
            &:after {
                color: $primary-color;
            }
        }
    }
}
