@charset "utf-8";

@import "bourbon";
@import "neat";
@import "variables";
@import "base-layout";
@import "color-blocks";
@import "cat";
@import "mini-layout-colors";

$background: #efefef;

* {
	box-model: border-box;
}

body {
  background: $white;
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: $complementary-neutral-dark;
  font-size: 2em;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 $complementary-neutral-light;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}