<div class="color-swatches">
    <button class= "swatch" data-color="red"></button>
    <button class= "swatch" data-color="orange"></button>
    <button class= "swatch" data-color="yellow"></button>
    <button class= "swatch" data-color="green"></button>
    <button class= "swatch" data-color="blue"></button>
    <button class= "swatch" data-color="cyan"></button>
    <button class= "swatch" data-color="violet"></button>
</div>
