<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@atalyathree</p>
	</div>
</div>