---
title: Practical Color Theory for People Who Code
---

<div class="welcome">
	<h1>Practical Color Theory for People Who Code</h1>
</div>
	<section>
	<h2>Color</h2>
		<div class="test first"></div>
	</section>
	<section>
	<h2>Complementary Color</h2>
		<div class="test second"></div>
	</section>
	<section>
	<h2>Color Relationship Established by Mixing</h2>
		<div class="test primary"></div>
		<div class="test complement"></div>
	</section>
	<section>

	<section>

<h2>Primary Neutrals</h2>
	<div class="test primary-neutral-1"></div>
	<div class="test primary-neutral-2"></div>
	<div class="test primary-neutral-3"></div>

	<section>
	<h2>Complementary Neutrals</h2>
		<div class="test complementary-neutral-1"></div>
		<div class="test complementary-neutral-2"></div>
		<div class="test complementary-neutral-3"></div>

	<h2>More Mixes</h2>
		<div class="test mix-1"></div>
		<div class="test mix-2"></div>
		<div class="test mix-3"></div>
		<div class="test mix-4"></div>
		<div class="test mix-5"></div>
		<div class="test mix-6"></div>
		<div class="test mix-7"></div>
		<div class="test mix-8"></div>
	</section>

		<section>
		<h2>Complementary/analogous Adjusted Hue</h2>
			<div class="test analogous"></div>
			<div class="test complementary-analogous"></div>
		</section>

	<section>
		<h2>Complementary/analogous mixes</h2>
		<div class="test complementary-analogous-mix-1"></div>
		<div class="test complementary-analogous-mix-2"></div>
	</section>

	<section>
	<h2>Warm and Cool Grays</h2>
		<div class="test primary-grayscale-1"></div>
		<div class="test complementary-grayscale-1"></div>
	</section>


	<section>
	<h2>Neutrals</h2>
		<div class="test primary-gray"></div>
		<div class="test complimentary-gray"></div>
		<div class="test white"></div>
		<div class="test neutral-gray"></div>
		<div class="test black"></div>
	</section>

</div>