---
title: Practical Color Theory for People Who Code
---
<header>
	<div class="container">
		<h1>Practical Color Theory for People Who Code</h1></header>
</header>

	<section>
		<div class="cat">
			<div class="cat-head">
				<div class="cat-face"></div>
			</div>
		</div>
	</section>

	<section>
		<h1>The Color Wheel</h1>

		<p>Lorem Ipsum This is the documentation for Sass and color wheel.</p>
	</section>

	<main>

	<section class="primary-only">
	<div class="explanation">
	<h2>Pick a color</h2>
		<div class="test first"></div>
	</div>
	<div class="example">
		THIS IS THE LAYOUT EXAMPLE

<div class="mini-layout">
<div class="mini-nav"></div>
	<div class="mini-header">
	<h1> Hello, World</h1>
	</div>
	<div class="mini-aside">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="mini-main">
		<p> tiny lorem ipsum tiny lorem ipsum tin rem ipsum ?</p>
	<p> tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tiny lorem ipsum tinyny lorem ipsum </p>
	<a href="javascript:void" class="cta">cta</a>
	</div>
	<div class="mini-footer">
		<p>Made with love</p>
		<p>Natalya Shelburne</p>
		<p>@atalyathree</p>
	</div>
</div>
	</div>
	</section>
	<section>
	<h2>Complementary Color</h2>
		<div class="test second"></div>
	</section>
	<section>
	<h2>Color Relationship Established by Mixing</h2>
		<div class="test primary"></div>
		<div class="test complement"></div>
	</section>
	<section>

	<section>

<h2>Primary Neutrals</h2>
	<div class="test primary-neutral-1"></div>
	<div class="test primary-neutral-2"></div>
	<div class="test primary-neutral-3"></div>

	<section>
	<h2>Complementary Neutrals</h2>
		<div class="test complementary-neutral-1"></div>
		<div class="test complementary-neutral-2"></div>
		<div class="test complementary-neutral-3"></div>

	<h2>More Mixes</h2>
		<div class="test mix-1"></div>
		<div class="test mix-2"></div>
		<div class="test mix-3"></div>
		<div class="test mix-4"></div>
		<div class="test mix-5"></div>
		<div class="test mix-6"></div>
		<div class="test mix-7"></div>
		<div class="test mix-8"></div>
	</section>

		<h2>Increase Contrast Mixes</h2>
		<div class="test contrast-mix-1"></div>
		<div class="test contrast-mix-2"></div>
		<div class="test contrast-mix-3"></div>
		<div class="test contrast-mix-4"></div>
		<div class="test contrast-mix-5"></div>
		<div class="test contrast-mix-6"></div>
		<div class="test contrast-mix-7"></div>
		<div class="test contrast-mix-8"></div>
	</section>



		<section>
		<h2>Complementary/analogous Adjusted Hue</h2>
			<div class="test analogous"></div>
			<div class="test complementary-analogous"></div>
		</section>

	<section>
		<h2>Complementary/analogous mixes</h2>
		<div class="test complementary-analogous-mix-1"></div>
		<div class="test complementary-analogous-mix-2"></div>
	</section>

	<section>
	<h2>Warm and Cool Grays</h2>
		<div class="test primary-grayscale-1"></div>
		<div class="test complementary-grayscale-1"></div>
	</section>


	<section>
	<h2>Neutrals</h2>
		<div class="test primary-gray"></div>
		<div class="test complimentary-gray"></div>
		<div class="test white"></div>
		<div class="test neutral-gray"></div>
		<div class="test black"></div>
	</section>

</div>
		</div>
		</main>